header {
    width: 800px;
    margin-left: calc(50% - 400px);
    background-color: pink;

  }
  
  main {
    width: 800px;
    margin-left: calc(50% - 400px);
    background-color: aquamarine;
  }
  
  footer {
    width: 800px;
    margin-left: calc(50% - 400px);
    background-color: lightgray;
  }